{% extends 'base.html' %}
{% load static %}

{% block title %} Admin Panel{% endblock %}

{% block content %}
   {% if request.user.userrole == 'user' %}
        <p>You Have no Permission to view this page</p>
    {% else %}
       {% if object %}
                <div class="container mt-4 user-info">
                <div class="media mt-1" id="userprofile">
                <div class="media-body">
                <h3 class="mt-0 mb-1 ml-5">User info</h3>
                <ul>
                    <li class="mt-1">First name:{{ object.first_name }}</li>
                    <li class="mt-1">Last name:{{ object.last_name }}</li>
                    <li class="mt-1">Username:{{ object.username }}</li>
                </ul>
                </div>
                <img src="{{ object.userprofileimg.picture.url }}" class=" ml-3 rounded" alt="{{ object.userprofileimg.picture.url }}" height="100" width="100">
                </div>
                    {% csrf_token %}
                    <a href="{% url 'polls:edit' object.id%}" class="btn-sm btn-primary ml-4 ">Edit</a>
                    <button type="button"  id="btn-delete" class="btn-sm btn-danger" >Delete</button>
                </div>
                <hr/>
            {% else %}
           <p>No users found</p>
           {% endif %}


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modal-submit" data-id={{object.id}} data-name={{ object.username }}  data-url="{% url 'polls:ajaxaction'%}">Save changes</button>
              </div>
            </div>
          </div>
        </div>
   {% endif %}
{#    {% include 'polls/table.html' %}#}



{% endblock %}

