{% extends 'base.html' %}

{% block titile %}

    {{ question.question_text }}
{% endblock %}
{% block content %}
    <div class="container bg-light mx-auto mt-5 w-50">
        <div class="p-5">
            <h1>{{ question.question_text }}</h1>

         {% if error_msg %}<p><strong>{{ error_msg }}</strong></p>{% endif %}

        <form action="{% url 'p:vote' question.id %}" method="POST">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Vote">
        </form>
        </div>
    </div>
{% endblock %}