<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if user.is_superuser %}
    <h1>User is not Logged in</h1>
    <p>{{ request.user }}</p>
{% elif request.user.is_authenticated %}
    <p>{{ request.user.is_authenticated }}</p>
    <h1>Welcome you are Logged in </h1>
    <h2>You are logged in as {{ user }}</h2>
    <form method="POST"> 
        {% csrf_token %}
    <button type="submit">Log Out</button>
    </form>
{% endif %}
</body>
</html>