{#{% extends 'base.html' %}#}

{% block content %}
    <div class="container">
        {% if all_user %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            {% for object in all_user %}
                {% if object.userrole.role == 'user' %}
                    <tr>
                      <td>{{ object.first_name }}</td>
                      <td>{{ object.last_name }}</td>
                      <td>
                          <a href="{% url 'polls:adminview'  object.id %}">{{ object.username }}</a>
                      </td>
                    </tr>
                {% endif %}
            {% endfor %}
          </tbody>
    </table>
    {% else %}
            <h1>No User Found,Please Add User</h1>
    {% endif %}
    </div>
{% endblock %}