{#{% extends 'base.html' %}#}

{% block content %}
    <div class="container">
        {% if all_user %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            {% for object in all_user %}
                {% if object.userrole.role == 'user' %}
                    <tr>
                      <th scope="row">1</th>
                      <td>{{ object.first_name }}</td>
                      <td>{{ object.last_name }}</td>
                      <td>
                          <a href="{% url 'p:adminview'  object.id %}">{{ object.username }}</a>
                          <span class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              </button>
                              <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  {% csrf_token %}
                                  <button type="button"  id="btn-delete" class="dropdown-item" data-id={{object.id}} data-name={{ object.username }} data-toggle="modal" data-target="#exampleModal" data-url="{% url 'p:ajaxaction'%}">Delete</button>
                              </span>
                          </span>
                      </td>
                    </tr>
                {% endif %}
            {% endfor %}
          </tbody>
    </table>
    {% else %}
            <h1>No User Found,Please Add User</h1>
    {% endif %}
    </div>
{% endblock %}